<!-- footer.ejs -->

<footer class="footer fixed-bottom bg-light">
    <div class="container text-center">
      <span class="text-muted">Copy Right Protected@Haji Qaderi</span>
    </div>
  </footer>
  