<!-- Header section with "About Me" title -->
<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
  <h1 class="h2">About Me</h1>
</div>

<!-- Section for the about information -->
<section class="section about" aria-label="about">
  <div class="container">
    <div class="wrapper">
      <div>
        <h2 class="h2 section-title">What I Do?</h2>
        <p class="section-text">
          "I'm an experienced web script designer with 2 years in the field. I am developing dynamic and user-friendly web applications. My project management skills ensure timely and quality results. I'm passionate about creating intuitive web experiences that meet client goals and user needs."
        </p>
      </div>
    </div>

    <!-- List of services provided -->
    <ul class="grid-list">
      <li>
        <div class="about-card">
          <h3 class="h4 card-title">Web Design</h3>
          <p class="card-text">
            "I'm making a website that looks great and works well for people."
          </p>
        </div>
      </li>
      <li>
        <div class="about-card">
          <h3 class="h4 card-title">Mobile Design</h3>
          <p class="card-text">
            "I'm creating a website that not only looks great but also functions smoothly on both computers and mobile devices, ensuring a seamless experience for all users."
          </p>
        </div>
      </li>
      <li>
        <div class="about-card">
          <h3 class="h4 card-title">Deployment</h3>
          <p class="card-text">
            "I am skilled at putting web pages online, making sure they work for people to use. I am experienced in managing this process efficiently."
          </p>
        </div>
      </li>
    </ul>

    <!-- Experience and Education section -->
    <div class="wrapper education">
      <div>
        <h2 class="h2 section-title">Experience</h2>
        <ul class='progress-list'>
          <li class="progress-item">
            <h3>Web Developer</h3>
            <p>
              Writing efficient code for websites and applications. Collaborating with designers, testing, and updating sites for optimal performance and user experience.
            </p>
            <p class="card-text">Ontario Tech - From Jan 2021 to Dec 2021</p>
          </li>
          <li class="progress-item">
            <h3>Back End Developer</h3>
            <p>
              Creating and maintaining the server-side of web applications. Ensuring speed, security, and scalability while collaborating with the team.
            </p>
            <p>Haji Tech - From Feb 2022 to July 2023</p>
          </li>
        </ul>
      </div>
      <div>
        <h2 class="h2 section-title">Education</h2>
        <ul>
          <li>
            <h3>University of Ontario Tech</h3>
            <p>
              Bachelor of IT From 2021 to Present
            </p>
            <h3>Microsoft Azure Certification</h3>
            <p>
              Certified Microsoft Azure, Cloud From 2022 to 2023
            </p>
            <h3>City Adult Learning Center</h3>
            <p>
              High School Diploma Completed on Jan 2019
            </p>
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>
